<html>
<head>
  <title>Authentication Example</title>
</head>
<style>
input{
height: 45px;
width: 30%;
margin-top: 15px;
margin-left: 35%;
border: 2px solid rgba(26, 99, 95, 0.603);
}
#email{
  margin-top: 12%;


}
input:hover{
height: 45px;
width: 30%;
margin-top: 15px;
margin-left: 35%;
border: 2px solid rgba(21, 13, 59, 0.603);
}
body{
background-image:url("../back.png");

}


button{
  height: 45px;
width: 30%;
margin-top: 15px;
background-color: rgba(26, 99, 95, 0.603);
margin-left: 35%;
text-shadow: 2px;
text-align: center;
}

button:hover{
  height: 45px;
width: 30%;
margin-top: 15px;
background-color: rgba(159, 221, 221, 0.603);
margin-left: 35%;
text-shadow: 2px;
text-align: center;
}
span{


margin-top: 300px;
margin-left: 42%;
text-align: center;

}

</style>
<body>
    <% if(msg){ %>
      <h3 class="alert alert-success" style="color: red; text-align: center;"><%= msg %></h3>
      <% }%>
  <form action="/login" method="POST">
    <div>
      <input id="email" name="email" type="text" placeholder="Email..." id="email">
    </div>
    <div>
      <input id="password" name="password" type="password" placeholder="Password...">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>

</body>

</html>