<%include  ../layout/header.ejs %>
    <!-- Main content -->
    <section class="content">
      <div class="col-xs-12 col-sm-12 col-md-offset-6 col-lg-offset-6 col-md-6 col-lg-6">    
      <form action="" method="POST" role="form">
        <legend> ارسال اشعارات للمزودين  </legend>
        <div class="form-group">
            <label for="">العنوان</label>
            <input type="text" class="form-control" id="" name="title" placeholder="العنوان">
          <label for="">الرسالة</label>
          <input type="text" class="form-control" id="" name="message" placeholder="الرسالة">
        </div>
        <button type="submit" class="btn btn-primary">ارسال</button>
      </form>
      <!-- Your Page Content Here -->

      </div>
     
    </section>
    <!-- /.content -->

<%include  ../layout/footer.ejs %>
