<%include  ../layout/header.ejs %>
    <!-- Main content -->
    <section class="content">
      
      <div class="col-xs-12 col-sm-12 col-md-offset-6 col-lg-offset-6 col-md-6 col-lg-6">    
      <form action="add" method="POST" role="form" enctype="multipart/form-data">
        <legend>إضافه قسـم</legend>
        <div class="form-group">
          <label for="">اسـم القـسم</label>
          <input type="text" class="form-control" id="" name="nameAr" placeholder=" القسم بالعربى">
          <input type="text" class="form-control" id="" name="nameEn" placeholder=" القسم بالانجليزية">
          <input type="file" name="catImg" accept="image/*" onchange="loadFile(event)">
          <img id="output" width="250" height="250"/>
        </div>
        <button type="submit" class="btn btn-primary">اضافة</button>
      </form>
      <!-- Your Page Content Here -->

      </div>
     
    </section>
    <!-- /.content -->
    <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
<%include  ../layout/footer.ejs %>
