<%include  ../layout/header.ejs %>
    <!-- Main content -->
    <section class="content">   
      <div class="col-xs-12 col-sm-12">    
      <form action="" method="POST" role="form" enctype="multipart/form-data">
        <legend>إضافه اعلان</legend>
        <label>الاعلان السابق</label>
        <div class="form-group">
        <%if(imageUrl){%>
          <img src="<%=imageUrl%>" width="250" height="250" id="val1"/>
        <%}%>
        <%if(imageUrl1){%>
          <img src="<%=imageUrl1%>" width="250" height="250" id="val2"/>
        <%}%>
        <%if(imageUrl2){%>
          <img src="<%=imageUrl2%>" width="250" height="250" id="val3"/>
        <%}%>
        <br>
        <label>قم بالطغط على الاعلان المراد تغيريه ثم قم بأختيار اعلان اخر </label>
        <br>

        <input type="hidden" id="myImage" name="myImage">
        <input type="file" name="myAds" accept="image/*" onchange="loadFile(event)">
        <img id="output" width="250" height="250"/>
        <button type="submit" class="btn btn-primary">اضافة</button>
      </form>
      <!-- Your Page Content Here -->

      </div>
    </section>
    <!-- /.content -->
    <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
      };
      var myImage=document.getElementById('myImage');
      $('#val1').on('click',()=>{
         myImage.value=1;
      });
      $('#val2').on('click',()=>{
        myImage.value=2;          
      });
      $('#val3').on('click',()=>{
        myImage.value=3;          
      });
      $(function () {
        $("img").click(function() {
          $("img").css('border', "none")
          $(this).css('border', "solid 5px red");  
        });
      });
    </script>
<%include  ../layout/footer.ejs %>
