<%include  ../layout/header.ejs %>
    <form action="/category/edit" method="post" class="col-xs-12 col-sm-12 col-md-offset-6 col-lg-offset-6 col-md-6 col-lg-6" enctype="multipart/form-data">
        <input type="hidden" name="_id" value="<%= categoryObj._id %>" class="form-control"><br>        
        <input type="text" name="nameEn"  value="<%= categoryObj.categoryNameEn %>" class="form-control"><br> 
        <input type="text" name="nameAr"  value="<%= categoryObj.categoryNameAr %>" class="form-control"><br> 
        <img src="<%= categoryObj.image %>" width="250" height="250">   
        <input type="file" name="catImg" accept="image/*" onchange="loadFile(event)">   
        <img id="output" width="250" height="250"/>       
        <input type="submit" value="تعديل" class="btn btn-info">
    </form>
    <script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
        };
      </script>
<%include  ../layout/footer.ejs %>
 