<%include  ../layout/header.ejs %>
<h1>الأقـسـام</h1>

<% if(!msg){ %>
    <h3 class="alert alert-success"><%= msg %></h3>
    <% }%>
    <style>
        th{
        
            text-align: center;
        }
        
        .butn{
        
            margin-right: 3%;
        }
        td{
            text-align: center;
        }
        h1{
            margin-right: 40%;
            margin-bottom:5%;
        }
        h1{
            margin-top: 2%; 
        }
        </style>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">   
<table class="table table-bordered" id="myTable">
    <thead>   <tr>    
        <th>
            اسم القسم بالعربى 
        </th>
        <th>
                اسم القسم بالانجليزى 
        </th>
        <th>
            صورة القسم
        </th>
        <th>التعـديل</th>
    </tr>
</thead>
 <tbody>
    <% data.forEach(function(category){ %>
        <tr>
            <td>
                <%= category.categoryNameAr %>
            </td>
            <td>
                    <%= category.categoryNameEn %>
            </td>
            <td>
                    <img src="<%= category.image %>" width="50" height="50">
            </td>
            <td><a class="btn btn-danger" href="/category/delete/<%= category._id %>">حذف</a>
            <a class="btn btn-primary" href="/category/edit/<%= category._id %>">تعديل</a></td>            
        </tr>
        <% }) %>
    </tbody>
</table>

<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
        
    } );
</script>
<%include  ../layout/footer.ejs %>
