<%include  ../layout/header.ejs %>
<% if(msg!=""){ %>
    <h3 class="alert alert-danger" style=" text-align: center;"><%= msg %></h3>
    <% }%>
<div class="col-xs-12 col-sm-12 col-md-offset-6 col-lg-offset-6 col-md-6 col-lg-6">
    <form action="/users/add" method="POST" role="form" enctype="multipart/form-data">
        <legend>إضافة مزود </legend>
            <label for="email">الإيميل</label>
            <input class="form-control"type="email" name="email" >     
            <label for="ssn">الرقم الوطني</label>
            <input class="form-control"type="text" name="ssn" >        
            <label for="displayName">الأسم</label>
            <input class="form-control"type="text" name="displayName" >       
            <label for="phoneNumber">رقم الهاتف</label>
            <input class="form-control"type="text" name="phoneNumber" >    
            <label>القسم</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="category">
                <% categories.forEach((category)=>{%>
                    <option value="<%= category._id%>"><%= category.categoryName%></option>
                <%})%>
            </select><br>
            <label for="gender">النوع</label>
            <div class="radio">
                <input type="radio" name="gender" value="male" checked="checked" >
                <span style="margin-right: 5%;"> ذكر</span>
                <input type="radio" name="gender" value="female" >
                <span style="margin-right: 5%;"> انثى</span>
            </div>     
            <label for="password">الرقم السري</label>
            <input class="form-control"type="text" name="password" id="password"> 
            <label for="photoUrl">صورة</label>
            <input type="file" name="photoUrl" accept="image/*" onchange="loadFile(event)">
            <img id="output" width="250" height="250"/> 

        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lon" id="lon">

        <button type="submit" class="btn btn-success" onclick="myPasswordAlert()">اضافه</button>
        
    </form>

    
</div>
<script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
<script>
    var myPassword=document.getElementById("password")
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (var i = 0; i < 8; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        return text;
    }
    var myGeneratedPassword=makeid();
    myPassword.value=myGeneratedPassword;
    function myPasswordAlert(){
        alert("كلمة المرور "+myGeneratedPassword);
    }   
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key= AIzaSyBmnATbcsItV07AIzYhG-6E0ZYgZgTkh3w"></script>
    <script>
        window.addEventListener('load', doitfirst);
        function doitfirst() {
            lat = document.getElementById('lat');
            lon = document.getElementById('lon');
            // latlon=document.getElementById('latlon');
            
        }  
        // 1- check availaiblity of geolocation in navigator
        if(navigator.geolocation)
        {
            // get permission
            navigator.geolocation.getCurrentPosition(getposition, errorhandeler);
        }
        else
        {
            // geolocation not availaible
            // map.innerText = 'Sorry , Update your brwoser and try Agian !!';
            alert('Sorry , Update your brwoser and try Agian !!');
        }
        function getposition(position) {
           
            // console.log(position);
            lat.value = position.coords.latitude;
            lon.value = position.coords.longitude;

            // 1- create LATLON google object
            mylocation = new google.maps.LatLng(lat, lon);
            // 2- create attributes for returned image
            myattributes = { zoom: 17, center: mylocation };
            // 3- create image object to recieve returned image;
            // var myimg = new Image();
            // myimg.src = new google.maps.Map(map, myattributes);
            // map.appendChild(myimg);
        }
        function errorhandeler(error)
        {
            switch(error.code)
            {
                case error.PERMISSION_DENIED:
                    map.innerText = 'PERMISSION_DENIED';
                    break;
                case error.POSITION_UNAVAILABLE:
                    map.innerText = 'POSITION_UNAVAILABLE';
                    break;
                case error.TIMEOUT:
                    map.innerText = 'TIMEOUT';
                    break;
                case error.UNKOWN_ERROR:
                    map.innerText = 'UNKOWN_ERROR';
                    break;
            }
        }
    </script>
<%include  ../layout/footer.ejs %>
