<%include  ../layout/header.ejs %>
    <div class="col-xs-12 col-sm-12 col-md-offset-6 col-lg-offset-6 col-md-6 col-lg-6">
        <form action="/users/edit" method="POST" role="form">
            <legend>تعديل المزود</legend>
            <input type="hidden"  name="uid" value="<%= userObj.uid %>"><br>
            <input type="hidden"  name="catId" value="<%= catId %>"><br>

            <div class="form-group">
                <label for="displayName"> الأسم</label>
                <input class="form-control"type="text" name="displayName" value="<%= userObj.displayName %>"><br>
                <input class="form-control"type="text" name="email" value="<%= userObj.email %>"><br>        
                <input class="form-control"type="text" name="phoneNumber" value="<%= userObj.phoneNumber %>"><br>        
                <img src="<%=userObj.photoURL%>" width="250" height="250">
            </div>
            <button type="submit" class="btn btn-primary">تعديل</button>
        </form>
    </div>
    
<%include  ../layout/footer.ejs %>
