<%include  ../layout/header.ejs %>
<h1> المستخدمين</h1>
<% if(!succ){ %>
    <h3 class="alert alert-success"><%= succ %></h3>
    <% }%>
<% if(!msg){ %>
    <h3 class="alert alert-danger"><%= msg %></h3>
    <% }%>

<style>
th{

    text-align: center;
}

.butn{

    margin-right: 3%;
}
td{
    text-align: center;
}
h1{
    margin-right: 40%;
    margin-bottom:5%;
}
h1{
    margin-top: 2%; 
}
</style>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">   

<table class="table table-bordered" id="myTable2">
        <thead>
            <tr>
                <th>
                    الأسـم
                </th>
                <th>التعديل</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.userName %>

                    </td>
                    <td><a class="btn btn-danger butn" href="/users/deleteUser/<%= user.uid %>">حذف</a>
                    <a class="btn btn-info " href="/sendMessages/add/<%= user.uid %>">ارسال اشعار</a></td>            
                </tr>
            <% }) %>
        </tbody>
</table>
<!-- <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
     $('#myTable2').DataTable();
        
    } );
</script>
<%include  ../layout/footer.ejs %>
